- content_for :title do 
  kursy-app
  \|
  All Users
%h3
  .text-center
    Users
    .badge.bg-primary
      = @user.count

/.card-group
/  - @user.each do |user|
/    .col
/      = render 'users/user', user: user
      
= search_form_for @q do |f|
  = f.search_field :email_or_sign_in_count_eq, placeholder: 'email or sign in count'
  = f.submit 
  
  = link_to users_path, class: 'btn btn-sm btn-secondary' do
    %i.fas.fa-sync
%p
.table-responsive
  %table.table.table-bordered
    %thead
      %tr
        %th id
        %th= sort_link(@q, :email)
        %th created at
        %th= 'sign_in_count'.humanize
        %th= 'current_sign_in_at'.humanize
        %th= 'last_sign_in_at'.humanize
        %th= 'current_sign_in_ip'.humanize
        %th= 'last_sign_in_ip'.humanize
        %th= 'course_count'.humanize
        %th= 'enrollments_count'.humanize
        %th Confirmed?
        %th roles
    %tbody
      - @user.each do |user|
        %tr
          %td= user.id
          %td
            - if user.online?
              .text-success.far.fa-circle
            - else
              .text-danger.far.fa-circle
            = link_to user.email, user_path(user)
          %td= user.created_at
          %td= user.sign_in_count
          %td= user.current_sign_in_at
          %td= user.last_sign_in_at
          %td= user.current_sign_in_ip
          %td= user.last_sign_in_ip
          %td= user.courses_count
          %td= user.enrollments_count
          %td= user.confirmed?
          %td
            - user.roles.each do |role|
              .badge.bg-info
                = role.name
            - if policy(user).edit?
              = link_to 'Edit Roles', edit_user_path(user), class: "btn btn-sm btn-warning"
  != pagy_bootstrap_nav(@pagy)