- content_for :title do 
  kursy-app
  \|
  Courses Online

.jumbotron
  .display-4
    What dou u want to learn today?
  - if current_user  
    .form-inline.my-2.my-lg-0
      = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
        .input-group
          = f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px;',placeholder: "Search"
          %span.input.group-append
            %button.btn.btn-primary.btn-sm{:type => 'sumbit'}
              %span.fa.fa-search{"aria-hidden" => "true"}
%hr
- if current_user && @purchased_courses.count > 0
  %h2
    .fa.fa-user-graduate
    Continue learning
  .card-group
    - @purchased_courses.each do |course|
      .col
        = render 'courses/courses', course: course
  = link_to 'All my purchased courses', purchased_courses_path
  %hr
%h2
  .fa.fa-chart-line
  Popular courses
.card-group
  - @popular_courses.each do |course|
    .col
      = render 'courses/courses', course: course
= link_to 'More popular courses', courses_path(courses_search: {s: 'enrollments_count desc'})
%hr
%h2
  .fa.fa-star
  Top rated courses
.card-group
  - @top_rated_courses.each do |course|
    .col
      = render 'courses/courses', course: course
= link_to 'Best rated courses', courses_path(courses_search: {s: 'average_rating desc'})
%hr
%h2
  .fa.fa-clock
  Recent courses
.card-group
  - @latest_courses.each do |course|
    .col
      = render 'courses/courses', course: course
= link_to 'More new courses', courses_path(courses_search: {s: 'created_at desc'})
%hr
%h2
  .fa.fa-tags
  Popular tags
- @popular_tags.all.each do |tag|
  = link_to courses_path(courses_search: {course_tags_tag_id_eq: tag.id}) do
    .badge.bg-info
      %h4
        = tag.name
        = tag.course_tags_count
%hr    
%h2
  .fa.fa-comment
  What our students have to say
.card-group
  - @latest_good_reviews.each do |enrollment|
    .col
      = render 'enrollments/enrollment', enrollment: enrollment
