- content_for :title do 
  kursy-app
  \|
  All Enrollments

%h3
  .text-center
    Enrollments
    .badge.bg-primary
      = @enrollments.count

= search_form_for @q, url: @ransack_path do |f|
  = f.search_field :user_email_cont, placeholder: 'email'
  = f.search_field :course_title_cont, placeholder: 'course title'
  = f.search_field :price_eq, placeholder: 'price'
  = f.search_field :review_cont, placeholder: 'Review'
  = f.search_field :rating_eq, placeholder: 'Rating'
  = f.submit 
  
  = link_to @ransack_path, class: 'btn btn-sm btn-secondary' do
    %i.fas.fa-sync

.table-responsive
  %table.table.table-bordered.table-striped.table.sm
    %thead
      %tr
        %th ID
        %th= sort_link(@q, :user_email)
        %th{:style => "min-width: 100px;"} 
          = sort_link(@q, :course_title)
        %th{:style => "min-width: 125px;"} 
          = sort_link(@q, :created_at) 
        %th
          = sort_link(@q, :price)
        %th{:style => "min-width: 135px;"}
          = sort_link(@q, :updated_at) 
        %th
          .text-warning.fas.fa-comment
          Review
        %th{:style => "min-width: 110px;"}
          = sort_link(@q, :rating) 
          .text-warning.fa.fa-star
        %th
        %th
        %th
  
    %tbody
      - @enrollments.each do |enrollment|
        %tr
          %td= enrollment.id
          %td= link_to enrollment.user, user_path(enrollment.user)
          %td= link_to enrollment.course, courses_path(enrollment.course)
          %td= enrollment.created_at.strftime("%d/%b/%Y, %H:%M")
          %td= number_to_currency(enrollment.price)
          %td
            - if enrollment.rating.present?
              = enrollment.updated_at.strftime("%d/%b/%Y, %H:%M")
          %td= enrollment.updated_at.strftime("%d/%b/%Y, %H:%M")
          %td= enrollment.rating
          %td= enrollment.review
          %td= link_to 'See review', enrollment
          %td= link_to 'Add review', edit_enrollment_path(enrollment)
          %td= link_to 'Delete enrollmet', enrollment, method: :delete, data: { confirm: 'Are you sure?' }

%br

!= pagy_bootstrap_nav(@pagy)