- content_for :title do 
  kursy-app
  \|
  Course
  = @course.title
  Lesson
  = @lesson.title


= link_to 'Courses', courses_path
\/
= link_to @lesson.course.title , course_path(@lesson.course)
\/
= link_to @lesson.title , course_lesson_path(@course, @lesson)

%p
.row
  .col-lg-8
    = render 'lessons/lesson', lesson: @lesson
<<<<<<< HEAD
=======
    %p
    %h4
      .fa.fa-comment 
      Comments:
      = @lesson.comments_count
    .card
      .card-header
        New Commnet
      .card-body
        = render 'lessons/comments/form'
    %p
    - @comments.each do |comment|
      = render 'lessons/comments/comment', comment: comment
>>>>>>> d4b7e80... Add_commets_view_in_lesson_and_activity
  .col-lg-4
    %ul.list-group.lesson-sortable
      - @lessons.each do |lesson|
        = content_tag "div", id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: course_lesson_sort_path(@course, lesson)} do
          - if @lesson.present? && lesson == @lesson
            %li.list-group-item.list-group-item-success
              = render 'lessons/lesson_preview', lesson: lesson
          - else
            %li.list-group-item
              = render 'lessons/lesson_preview', lesson: lesson 


= link_to 'Back', course_path(@lesson.course)



