.card{:style => "margin: 5px; min-width: 300px;"}
  .card-header
    .fa.fa-book
    = link_to course.title, course_path(course)
  - if course.avatar.attached?
    .card-image-top  
      = image_tag course.avatar, height: "200px", width: "100%"
      /= image_tag course.avatar.variant(resize_to_limit: [100,100])
  .card-body
    %small= simple_format(course.short_description)
  .card-footer
    = course.language
    = course.level
  .card-footer
    = enrollment_button(course)
    .row 
    = review_button(course)
  .card-footer
    .row
      .col-md-5
        .text-warning.fa.fa-star
        = course.average_rating
        (
        .fa.fa-user-graduate
        = course.enrollments_count
        )
      .col-md-7
        .text-end
          .fa.fa-user
          = link_to course.user.username, user_path(course.user)
  .card-footer
    .fa.fa-book-open
    = course.lessons_count
  - if policy(course).destroy?
    .card-footer
      - if course.published?
        .badge.bg-success
          Published
      - else
        .badge.bg-danger
          Unpublished
      - if course.approved?
        .badge.bg-success
          Approved
      - else
        .badge.bg-danger
          Unapproved
  - if policy(course).approve?
    .card-footer
      - if course.approved?
        = link_to "UnApprove", unapprove_course_path(course), method: :patch, class: "btn btn-sm btn-danger"     
      - else
        = link_to "Approve", approve_course_path(course), method: :patch, class: "btn btn-sm btn-success"   
  - if policy(course).destroy?
    .card-footer
      - if policy(course).owner?
        = link_to 'Add lesson', new_course_lesson_path(course, @lesson), class: "btn btn-primary btn-sm"
        = link_to 'Statistics', statistics_course_path(course), class: "btn btn-sm btn-info"
      %td= link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning'
      %td= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' 
    .card-footer
      - course.tags.each do |tag|
        .badge.bg-info
          = tag.name
    