
- content_for :title do 
  kursy-app
  \|
  = @course.title

= link_to 'Courses', courses_path
\/
= link_to @course.title , courses_path(@course)
%p
.row
  .col-lg-7
    .p-5.mb-4.bg-light.rounded-3
      %h2
        .fa.fa-book
        = @course.title
      .p-3
      .row
      .fa.fa-clock
      = @course.updated_at.strftime("%m/%Y")
      .row
      .fa.fa-globe-africa
      = @course.language
      .row
      .fa.fa-signal
      = @course.level
      .p-3
      = @course.description
    
    .row
      .col-md-6
        %h4
          = pluralize(@course.lessons_count, 'Lesson')
      .col-md-6
        .text-end
          .fa.fa-spinner
          = number_to_percentage(@course.progress(current_user), precision: 1)
    
    %ol.list-group.lesson-sortable  
      - @lessons.each do |lesson|
        = content_tag "div", id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: course_lesson_sort_path(@course, lesson)} do
          %li.list-group-item
            .fa.fa-sort.all-scroll{:style => "cursor: grab;"}
            = render 'lessons/lesson_preview', lesson: lesson
    %h4
      .fa.fa-comment
      = pluralize(@enrollments_with_review.count, 'Review')
    - @enrollments_with_review.each do |enrollment|
      = render 'enrollments/enrollment', enrollment: enrollment
      %p
    
    
    
  .col-lg-5
    = render 'courses/courses', course: @course
    
%h4 
  .fa.fa-graduation-cap
  Similar Courses

- Course.all.where.not(id: @course.id).each do |course|
  .row
  - unless @course.tags.pluck(:id).intersection(course.tags.pluck(:id)).count.zero?
    .card-columns
      = render 'courses/courses', course: course 
  
  

